body {
    min-height: 100vh;
    margin: 0;         

    background: linear-gradient(180deg, #506e9b 0%, #161b22 100%);

    color: white;
    font-family: "Segoe UI", Roboto, sans-serif;
    
}
h1{
    text-align: center;
}
h2{
}

